.attribution-page {
  &.background {
  }
  .wrapper {
    max-width: 1000px;
  }
  img {
    max-width: 100px;
    max-height: 100px;
    margin-bottom: 20px;
  }
  p {
    display: inline-block;
    vertical-align: top;
    margin-left: 20px;
  }
}
