// @import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

$orange: #FFA726;
$blue: #42A5F5;
$green: #4CAF50;

.home-page {
  &.background {
    // background-color: #212121;

  }
  .wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .intro {
    text-align: center;
  }
  h1 {
    // font-family: Mulish;
    font-family: 'Open Sans';
    font-weight: 300;
    line-height: 1.7em;
    font-size: 56px;
    margin-bottom: 0;
    strong {
      font-weight: 600!important;
    }
    .name {
      color: $green !important;
      font-size: 64px;
    }
  }
  h2 {
    font-family: 'Open Sans';
    font-size: 48px;
    margin-top: 0;
    line-height: 1.6em;
    .underline {
      display: inline-block;
      // border-bottom: 1px solid white;
    }
    .ux-designer {
      color: $orange;
    }
    .developer {
      color: $blue;
    }
  }
  // .intro h3 {
  //   font-size: 28px;
  // }
  .intro * {
    color: #444;
    font-weight: 300;
  }
  .intro .btn {
    color: #fff;
    margin-right: 15px;
  }
}
#animation {
  width: 300px;
  height: 300px;
  margin: 0 auto;
  text-align: center;
}
@media (min-width: 800px) {
  .home-page {
    .wrapper {
      flex-direction: row;
      align-items: center;
      max-width: 80%;
    }
    .intro {
      text-align: left;
    }
    #animation {
      // margin-left: 50px;
    }
  }
}
