.work-page {
  &.background {
    // background: #283593;
    // background: #e2e2e2;
  }
  .wrapper {
    max-width: 1240px;
    margin-top: 50px;
  }
  h2, p {
    // color: #fff;
  }
}

.project {
  margin: 150px 0;
  &:first-of-type {
    margin-top: 50px;
  }
  .image, .description {
    width: 50%;
    padding: 0 20px;
  }
  .image {
    width: 47%;
  }
  .description {
    width: 53%;
  }
  .image {
    margin: 0 auto;
    position: relative;
    line-height: 1;
    img {
      width: 100%;
    }
  }
  .tech-and-design {
    padding: 8px 5px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    .technologies, .design {
      display: flex;
    }
    img {
      max-height: 30px;
      max-width: 35px;
    }
    .technologies img {
      margin-right: 5px;
      filter: grayscale(0.1) brightness(1.2);
    }
    .design img {
      margin-left: 8px;
      filter: invert(0.1);
    }
  }
  .description {
    margin: 0 auto;
    h2 {
      // margin-top: 0;
      margin-top: 20px;
    }
  }
  .github-link, .wireframe-link {
    display: inline-block;
    vertical-align: top;
    margin-left: 15px;
  }
  .github-link {
    color: #000;
  }
  .wireframe-link img {
    height: 40px;
  }
  .fa-github {
    font-size: 38px;
    color: #000;
  }
  .github-link:hover .fa-github {
    color: #eee;
  }
  .content {
    opacity: 1;
    margin-top: 0;
    padding-bottom: 0;
    transition: all 400ms linear;
    display: flex;
    flex-direction: row;
  }
  &.hidden .content {
    opacity: 0;
    margin-top: 50px;
    // padding-bottom: 50px;
    padding-top: 50px;
  }
  /*
  .technologies i {
    font-size: 28px;
    color: #a9cac7;
    margin-top: 5px;
    margin-right: 5px;
  }
  */
}

// @media (min-width: 800px) {
//   .project .description {
//     max-width: 90%;
//   }
// }

@media (max-width: 1024px) {
  .project .description h2 {
    // margin-top: 0;
  }
}
@media (max-width: 1024px) {
  .project .content {
    flex-direction: column;
    .image, .description {
      width: 100%;
    }
    .description {
      text-align: center;
    }
  }
}

@media (max-width: 800px) {
  .project {
    .tech-and-design {
      display: none;
    }
  }
}

@media (max-width: 599px) {
  .project .image, .project .description {
    padding: 0;
  }
  .project {
    h2 {
      font-size: 24px;
    }
    p {
      font-size: 18px;
    }
  }
}
