/*------------------
   Variables
------------------*/
$blue: #1E88E5;
$dark-blue: #1976D2;

/*------------------
   Imports
------------------*/
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans&display=swap');

/*------------------
   Global
------------------*/
body {
  margin: 0;
}
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
p, li {
  line-height: 1.4em;
}

/*------------------
   Typography
------------------*/
html {
  font-size: 18px;
}
body {
  font-family: 'Lato', 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #333;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', 'Lato', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
p, li {
  line-height: 1.4em;
}

/*------------------
   Elements
------------------*/
a {
  text-decoration: none;
  color: $blue;
}
button, .btn {
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  background: $blue;
  font-size: 16px;
  color: #fff;
  border-radius: 7px;
  border: 0;
  cursor: pointer;
  &:hover {
    background: $dark-blue;
  }
}

/*------------------
   Layout (navigation and body)
------------------*/
@media (min-width: 800px) {
  .app-body {
    display: flex;
  }
  nav {
    width: 90px;
    height: 100vh;
    position: sticky;
    top: 0;
    background: #37474F;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .nav1, .nav2 {
    position: unset;
    flex-direction: column;
  }
}
main {
  width: 100%;
  opacity: 1;
  transition: all 250ms linear;
  &.hidden {
    opacity: 0;
  }
}
.background {
  padding: 50px 0;
  min-height: 100vh;
}
.wrapper {
  margin: 0 auto;
  padding: 20px;
  min-height: calc(100vh - 100px);
  max-width: 1340px;
  & > h1, & > h2 {
    margin-top: 0;
  }
}

@media (min-width: 800px) {
  main {
    overflow-y: auto;
  }
  .background {
    padding: 0;
  }
  .wrapper {
    min-height: 100vh;
  }
}

/*------------------
   Page Animations
------------------*/
.main-container {
  position: relative;
}
.background {
  position: absolute;
  top: 0;
  width: 100%;
}
.fade-enter{
  opacity: 0;
}
.fade-enter-active {
  opacity: 1;
}
.fade-exit{
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
}
.fade-enter-active,
.fade-exit-active{
  transition: opacity 500ms;
}
